<html>

<head>
    <title>
        <%=title%>
    </title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="<%=self.urlFor('pages', 'index')%>">Index</a></li>
            <li><a href="<%=self.urlFor('pages', 'imprint')%>">Impressum</a></li>

        </ul>
    </nav>
    <%-body%>
</body>

</html>